<section class="w-100 d-flex flex-column align-items-center" style="margin-top: 4rem!important;">
  <div [formGroup]="youtubeForm">
    <h3 class="mb-5 text-center">Youtube Downloader</h3>
    <div class="mt-3">
      <input id="urlInput" type="text" formControlName="url" placeholder="Insert Youtube Video Link here">
      <div class="alert alert-danger" *ngIf="url.invalid && url.touched">
        <span *ngIf="url.errors?.['required']"> Youtube Video Link is required. </span>
        <span *ngIf="url.errors?.['pattern']"> URL must be a Youtube Video URL. </span>
      </div>
      <div *ngIf="errorObject" class="alert alert-danger">
        <span> {{ errorObject }} </span>
      </div>
    </div>


    <div *ngIf="(videoInfo$ | async) as videoInfo" class="d-flex mt-5 p-4 pt-3 videoInfoBlock">
      <div class="videoInfoBlock__preview">
        <img id="preview" src="{{videoInfo.thumbnail_url}}" width="160" alt="">
        <p class="videoInfoBlock__preview-text">Duration: {{videoInfo.lengthSeconds | formatDuration }} </p>
      </div>

      <div class="mt-4 w-100">
        <h5 class="videoInfoBlock__title mb-4"> {{ videoInfo.title }} </h5>
        <div class="d-flex">
          <select formControlName="filter" class="form-control videoInfoBlock__selectFormat">
            <option value="audio">Audio Format</option>
            <option value="video">Video Format</option>
          </select>

          <button (click)="downloadBtnSubject.next($event)" class="btn btn-primary videoInfoBlock__download">Download</button>
        </div>
      </div>
    </div>

    <div *ngIf="(loadingDownload$ | async)" class="mt-5">
      <app-loader-indicator></app-loader-indicator>
    </div>

    <div class="mt-5">
      <p class="text-center">Download a Youtube Video as an Audio or a Video. </p>
    </div>

  </div>

</section>
